<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <h1>Create Session</h1>
            <form>
                <p>
                    <label>Session Name</label><br>
                    <input type="text" name="name" >
                </p>
                <p>
                    <label>Details</label><br>
                    <textarea name="details"></textarea>
                </p>
                <p>
                    <label>Location</label><br>
                    <input type="text" name="location">
                </p>
                <p>
                    <label>Time</label><br>
                    <input type="time" name="time">
                </p>
                <p>
                    <label>Date</label><br>
                    <input type="date" name="date">
                </p>
                <input type="submit" value="Create Session">
            </form>
        </main>
    </body>
</html>