<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../js/create_account.js"></script>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <h1>Create Account</h1>
            <form action="/createAccountSubmit" method="POST">
                <p>
                    <label>Username:</label><br>
                    <input type="text" name="email" required>
                </p>
                <p>
                    <label>Password:</label><br>
                    <input type="password" name="password" required>
                </p>
                <p>
                    <label>Name:</label><br>
                    <input type="text" name="name" required>
                </p>
                <p>
                    <label>Date of Birth:</label><br>
                    <input type="date" name="dateOfBirth" required>
                </p>
                <p>
                    <label>Gender</label><br>
                    <select name="gender" required>
                        <option value="Male">Male</option>
                        <option value="Femlae">Female</option>
                        <option value="Other">Other</option>
                        <option value="Prefer Not To Say">Prefer Not To Say</option>
                    </select>
                </p>
                <p>
                    <label>Emergency Contact</label><br>
                    <textarea name="emergencyContacts" required></textarea>
                </p>
                <p>
                    <label>Postcode</label><br>
                    <input name="postcode" required>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="photoConsent">
                        Photo Consent
                    </label>
                    <br>
                </p>
                <input type="submit" value="Create Account">
            </form>
        </main>
    </body>
</html>