<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <section>
            <h1>Create Session</h1>
            <form>
                <p>
                    <label>Session Name</label><br>
                    <input type="text">
                </p>
                <p>
                    <label>Details</label><br>
                    <textarea></textarea>
                </p>
                <p>
                    <label>Location</label><br>
                    <input type="text">
                </p>
                <p>
                    <label>Time</label><br>
                    <input type="time">
                </p>
                <p>
                    <label>Date</label><br>
                    <input type="date">
                </p>
                <input type="submit" value="Create Session">
            </form>
        </section>
    </body>
</html>