<!DOCTYPE html>
<html>
    <head>
        <title>Edit Account</title>
        <link rel="stylesheet" href="./css/simple.min.css">
    </head>

    <body>
        <header><h1>Dennis Law Sport Attendr</h1></header>
        <section>
            <h1>Edit Account</h1>
            <form>
                <p>
                    <label>Name:</label><br>
                    <input type="text">
                </p>
                <p>
                    <label>Date of Birth:</label><br>
                    <input type="date">
                </p>
                <p>
                    <label>Gender</label><br>
                    <input type=text>
                </p>
                <p>
                    <label>Emergency Contact</label><br>
                    <textarea></textarea>
                </p>
                <p>
                    <label>Address</label><br>
                    <textarea></textarea>
                </p>
                <p>
                    <label>Photo Consent</label><br>
                    <input type="checkbox">
                </p>
                <input type="submit" value="Save Changes">
            </form>
        </section>
    </body>
</html>