<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <form>
                <p>
                    <button>View / Edit Sessions</button>
                </p>
                
                <p>
                    <button>View / Edit Profiles</button>
                </p>
            </form>
        </main>
    </body>
</html>