<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
                <p>
                    <a href="/editAccount"><button>Edit Account</button></a>
                </p>
                
                <p>
                    <a href="/logout"><button>Logout</button></a>
                </p>
                
                <p>
                    <a href="/sessionadmin"><button>View / Edit Sessions</button></a>
                </p>
                
                <p>
                    <a href="/viewprofiles"><button>View / Edit Profiles</button></a>
                </p>
            
        </main>
    </body>
</html>