<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <a href="/editAccount"><button>Edit Account Details</button></a>
            <a href="/logout"><Button>Logout</Button></a>
            <section>
                <h3>Session Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante sit amet magna vestibulum cursus. Aenean eu imperdiet lorem. Aenean eget nisi ac velit facilisis imperdiet. </p>
                <h5>xx:xx - xx:xx xx/xx/xxxx</h5>
                <h5>Location: </h5>
                <button>Attend</button>
            </section>
            <section>
                <h3>Session Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante sit amet magna vestibulum cursus. Aenean eu imperdiet lorem. Aenean eget nisi ac velit facilisis imperdiet. </p>
                <h5>xx:xx - xx:xx xx/xx/xxxx</h5>
                <h5>Location: </h5>
                <button>Attend</button>
            </section>
            <section>
                <h3>Session Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante sit amet magna vestibulum cursus. Aenean eu imperdiet lorem. Aenean eget nisi ac velit facilisis imperdiet. </p>
                <h5>xx:xx - xx:xx xx/xx/xxxx</h5>
                <h5>Location: </h5>
                <button>Attend</button>
            </section>
            <section>
                <h3>Session Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante sit amet magna vestibulum cursus. Aenean eu imperdiet lorem. Aenean eget nisi ac velit facilisis imperdiet. </p>
                <h5>xx:xx - xx:xx xx/xx/xxxx</h5>
                <h5>Location: </h5>
                <button>Attend</button>
            </section>
            <section>
                <h3>Session Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante sit amet magna vestibulum cursus. Aenean eu imperdiet lorem. Aenean eget nisi ac velit facilisis imperdiet. </p>
                <h5>xx:xx - xx:xx xx/xx/xxxx</h5>
                <h5>Location: </h5>
                <button>Attend</button>
            </section>
        </main>
    </body>
</html>