<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section>
            <section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section>
            <section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section>
            <section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section><section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section><section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section><section>
                <p><b>Name:</b> John Doe</p>
                <p><b>Telephone:</b> 123456789</p>
                <button>Edit Profile</button>
            </section>
            
            
        </main>
    </body>
</html>